.535_10414 { 
	overflow:hidden;
}
.e535_10414 { 
	background-color:rgba(236.00000113248825, 238.00000101327896, 239.00000095367432, 0.949999988079071);
	width:1440px;
	height:768px;
	position:absolute;
}
.e535_10415 { 
	box-shadow:0px 6.010402679443359px 66.7822494506836px rgba(32.00000189244747, 36.00000165402889, 95.00000193715096, 0.07999999821186066);
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:1358px;
	height:1293px;
	position:absolute;
	left:-241px;
	top:-565px;
}
.e535_10416 { 
	width:559px;
	height:767px;
	position:absolute;
	left:881px;
	top:1px;
	background-image:url(../images/image_60.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e535_10417 { 
	background-color:rgba(31.91484086215496, 35.60000091791153, 94.56250101327896, 0.800000011920929);
	opacity:0.800000011920929;
	width:559px;
	height:768px;
	position:absolute;
	left:881px;
	top:0px;
}
.e535_10418 { 
	width:302px;
	height:47px;
	position:absolute;
	left:288px;
	top:620px;
}
.e535_10419 { 
	width:302px;
	height:47px;
	position:absolute;
	left:0px;
	top:0px;
}
.e535_10420 { 
	box-shadow:0px 4px 11px rgba(66.93017095327377, 66.93017095327377, 66.93017095327377, 0.28999999165534973);
	background-color:rgba(31.91484086215496, 35.60000091791153, 94.56250101327896, 1);
	width:302px;
	height:47px;
	/*position:absolute;*/
	left:0px;
	top:0px;
	border-radius:4px;

	font-family:Roboto;
	font-size:18px;
	letter-spacing:0;
}
.e535_10421 { 
	color:rgba(255, 255, 255, 1);
	width:57px;
	height:21px;
	position:absolute;
	left:123px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e535_10425 { 
	width:302px;
	height:313px;
	position:absolute;
	left:93px;
	top:240px;
}
.e535_10426 { 
	width:253px;
	height:236px;
	position:absolute;
	left:0px;
	top:77px;
}
.e535_10427 { 
	width:55px;
	height:20px;
	position:absolute;
	left:198px;
	top:2px;
}
.e535_10428 { 
	background-color:rgba(66.9502566754818, 188.06250303983688, 56.41874939203262, 1);
	width:55px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e535_10429 { 
	color:rgba(255, 255, 255, 1);
	width:22px;
	height:12px;
	/*position:absolute;*/
	left:10px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e535_10430 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:37px;
	top:2px;
}
.e535_10431 { 
	width:55px;
	height:20px;
	position:absolute;
	left:198px;
	top:73px;
}
.e535_10432 { 
	background-color:rgba(66.9502566754818, 188.06250303983688, 56.41874939203262, 1);
	width:55px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e535_10433 { 
	color:rgba(255, 255, 255, 1);
	width:22px;
	height:12px;
	position:absolute;
	left:10px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e535_10434 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:37px;
	top:2px;
}
.e535_10435 { 
	width:55px;
	height:20px;
	position:absolute;
	left:198px;
	top:144px;
}
.e535_10436 { 
	background-color:rgba(242.00000077486038, 92.00000211596489, 92.00000211596489, 1);
	width:55px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e535_10437 { 
	color:rgba(255, 255, 255, 1);
	width:22px;
	height:12px;
	position:absolute;
	left:23px;
	top:4px;
	font-family:Roboto;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e535_10438 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:2px;
	top:2px;
}
.e535_10439 { 
	width:55px;
	height:20px;
	position:absolute;
	left:198px;
	top:215px;
}
.e535_10440 { 
	background-color:rgba(66.9502566754818, 188.06250303983688, 56.41874939203262, 1);
	width:55px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e535_10441 { 
	color:rgba(255, 255, 255, 1);
	width:22px;
	height:12px;
	position:absolute;
	left:10px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e535_10442 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:37px;
	top:2px;
}
.e535_10443 { 
	color:rgba(0, 0, 0, 1);
	width:72px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e535_10444 { 
	color:rgba(0, 0, 0, 1);
	width:92px;
	height:23px;
	position:absolute;
	left:0px;
	top:71px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e535_10445 { 
	color:rgba(0, 0, 0, 1);
	width:61px;
	height:23px;
	position:absolute;
	left:0px;
	top:142px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e535_10446 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:23px;
	position:absolute;
	left:0px;
	top:213px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e535_10447 { 
	width:104px;
	height:32px;
	position:absolute;
	left:198px;
	top:0px;
}
.e535_10448 { 
	box-shadow:0px 5px 64px rgba(0, 0, 0, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:104px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.535_10448 { 
	border:1px solid rgba(150.9600019454956, 150.9600019454956, 150.9600019454956, 1);
}
.e535_10449 { 
	color:rgba(71.18750050663948, 71.18750050663948, 71.18750050663948, 1);
	width:55px;
	height:14px;
	position:absolute;
	left:12px;
	top:9px;
	font-family:Lato;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e535_10450 { 
	color:rgba(0, 0, 0, 1);
	width:130px;
	height:23px;
	position:absolute;
	left:0px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e535_10451 { 
	width:278px;
	height:309px;
	position:absolute;
	left:457px;
	top:244px;
}
.e535_10452 { 
	width:55px;
	height:20px;
	position:absolute;
	left:173px;
	top:73px;
}
.e535_10453 { 
	background-color:rgba(66.9502566754818, 188.06250303983688, 56.41874939203262, 1);
	width:55px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e535_10454 { 
	color:rgba(255, 255, 255, 1);
	width:22px;
	height:12px;
	position:absolute;
	left:10px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e535_10455 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:37px;
	top:2px;
}
.e535_10456 { 
	width:55px;
	height:20px;
	position:absolute;
	left:173px;
	top:144px;
}
.e535_10457 { 
	background-color:rgba(66.9502566754818, 188.06250303983688, 56.41874939203262, 1);
	width:55px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e535_10458 { 
	color:rgba(255, 255, 255, 1);
	width:22px;
	height:12px;
	position:absolute;
	left:10px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e535_10459 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:37px;
	top:2px;
}
.e535_10460 { 
	color:rgba(0, 0, 0, 1);
	width:84px;
	height:23px;
	position:absolute;
	left:2px;
	top:73px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e535_10461 { 
	color:rgba(0, 0, 0, 1);
	width:78px;
	height:23px;
	position:absolute;
	left:2px;
	top:144px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e535_10462 { 
	width:55px;
	height:20px;
	position:absolute;
	left:173px;
	top:215px;
}
.e535_10463 { 
	background-color:rgba(66.9502566754818, 188.06250303983688, 56.41874939203262, 1);
	width:55px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e535_10464 { 
	color:rgba(255, 255, 255, 1);
	width:22px;
	height:12px;
	position:absolute;
	left:10px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e535_10465 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:37px;
	top:2px;
}
.e535_10466 { 
	width:55px;
	height:20px;
	position:absolute;
	left:173px;
	top:286px;
}
.e535_10467 { 
	background-color:rgba(66.9502566754818, 188.06250303983688, 56.41874939203262, 1);
	width:55px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e535_10468 { 
	color:rgba(255, 255, 255, 1);
	width:22px;
	height:12px;
	position:absolute;
	left:10px;
	top:4px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e535_10469 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:37px;
	top:2px;
}
.e535_10470 { 
	color:rgba(0, 0, 0, 1);
	width:129px;
	height:23px;
	position:absolute;
	left:0px;
	top:215px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e535_10471 { 
	color:rgba(0, 0, 0, 1);
	width:141px;
	height:23px;
	position:absolute;
	left:0px;
	top:286px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e535_10472 { 
	width:105px;
	height:32px;
	position:absolute;
	left:173px;
	top:0px;
}
.e535_10473 { 
	box-shadow:0px 5px 64px rgba(0, 0, 0, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:105px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.535_10473 { 
	border:1px solid rgba(150.9600019454956, 150.9600019454956, 150.9600019454956, 1);
}
.e535_10474 { 
	transform: rotate(-179.99999499104388deg);
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:8.66025447845459px;
	height:5.000000953674316px;
	position:absolute;
	left:97.6640625px;
	top:18px;
}
.e535_10475 { 
	color:rgba(71.18750050663948, 71.18750050663948, 71.18750050663948, 1);
	width:33px;
	height:14px;
	position:absolute;
	left:12px;
	top:9px;
	font-family:Lato;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e535_10476 { 
	color:rgba(0, 0, 0, 1);
	width:124px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e535_10477 { 
	width:48.75386428833008px;
	height:76.06565856933594px;
	position:absolute;
	left:229px;
	top:616px;
}
.e535_10478 { 
	background-color:rgba(31.91484086215496, 35.60000091791153, 94.56250101327896, 1);
	width:48.75386428833008px;
	height:50.870628356933594px;
	position:absolute;
	left:0px;
	top:25.194982528686523px;
}
.e535_10479 { 
	background-color:rgba(31.91484086215496, 35.60000091791153, 94.56250101327896, 1);
	width:22.235612869262695px;
	height:22.235614776611328px;
	position:absolute;
	left:5.936328887939453px;
	top:0px;
}
.e535_10480 { 
	border-radius:500px;
	background-color:rgba(0, 47.0000009983778, 60.00000022351742, 1);
	opacity:0.30000001192092896;
	width:17.996450424194336px;
	height:3.0181543827056885px;
	position:absolute;
	left:237px;
	top:696px;
}
.e535_10481 { 
	color:rgba(31.91484086215496, 35.60000091791153, 94.56250101327896, 1);
	/*width:879px;
	height:49px;
	position:absolute;
	left:2px;
	top:99px;*/
	font-family:Montserrat;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e535_10482 { 
	/*width:79.56025695800781px;*/
	height:84px;
	/*position:absolute;
	left:250px;
	top:81px;*/
}
.e535_10483 { 
	width:79.56025695800781px;
	height:84px;
	left:0px;
	top:0px;
}
.e535_10484 { 
	width:79.56025695800781px;
	height:84px;
	/*position:absolute;*/
	left:0px;
	top:0px;
	background-image:url(../images/group_1007_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
/*.e535_10486 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:6.2156453132629395px;
	height:6.2156453132629395px;
	position:absolute;
	left:45.287960052490234px;
	top:35.87323760986328px;
}*/
.e535_10489 { 
	width:79.56025695800781px;
	height:84px;
	position:absolute;
	left:1144px;
	top:99px;
}
.e535_10490 { 
	width:79.56025695800781px;
	height:84px;
	position:absolute;
	left:0px;
	top:0px;
}
.e535_10491 { 
	width:79.56025695800781px;
	height:84px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../images/group_1007_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e535_10492 { 
	border-radius:500px;
	background-color:rgba(244.0000006556511, 70.00000342726707, 36.00000165402889, 1);
	width:9.945032119750977px;
	height:9.945032119750977px;
	position:absolute;
	left:36.049381256103516px;
	top:40.66811752319336px;
}
.535_10492 { 
	border:2.841437578201294px solid rgba(255, 255, 255, 1);
}
.e535_10493 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:6.2156453132629395px;
	height:6.2156453132629395px;
	position:absolute;
	left:45.287960052490234px;
	top:35.87323760986328px;
}
.e535_10487 { 
	color:rgba(255, 255, 255, 1);
	/*width:464px;
	height:130px;
	position:absolute;
	left:952px;
	top:431px;*/
	font-family:Roboto;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e535_10488 { 
	color:rgba(255, 255, 255, 1);
	width:399px;
	height:107px;
	font-weight: 900;
	/*position:absolute;*/
	left:984px;
	top:183px;
	font-family:Roboto;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  opacity: 60%;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.slider:after
{
 content:'No';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{  
  content:'Yes';
}